@model MarketSite.Models.StoreDayViewModel

@{
    ViewBag.Title = @MarketSite.App_GlobalResources.Resource.DailyReport;
}

<h2>@MarketSite.App_GlobalResources.Resource.DailyReport</h2>

@using (Html.BeginForm(null, "StoreDay", FormMethod.Post, new { id = "formMenu" }))
{
    @Html.AntiForgeryToken()
    <div class="input-group">
        <div class="container">
            <div class="form-row">
                <div class="col-sm-auto">
                    @Html.DropDownList("searchBrand", (IEnumerable<SelectListItem>)ViewBag.searchBrand, new { onChange = "selectBrand()", @class = "form-control" })
                </div>
                <div class="col-sm-auto">
                    @Html.DropDownList("searchCom", (IEnumerable<SelectListItem>)ViewBag.searchCom, new { onChange = "selectCom()", @class = "form-control" })
                </div>
                <div class="col-sm-auto">
                    
                    @Html.DropDownList("searchStore", (IEnumerable<SelectListItem>)ViewBag.searchStore, @MarketSite.App_GlobalResources.Resource.All, new { onChange = "this.form.submit()", @class = "form-control" })
                </div>
                <div class="col-sm-auto">
                    @Html.TextBox("searchDate", DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd"), new { type = "date", @class = "form-control" })
                </div>
                <div class="col-sm-auto">
                    <input class="col-sm-auto btn btn-primary" type="submit" value="@MarketSite.App_GlobalResources.Resource.Inquiry" />
                </div>
                <div class="col-sm-auto">
                    <input type="button" class="col-sm-auto btn btn-success" value="Excel" onclick="download();" />
                </div>
            </div>
        </div>
        @*@Html.TextBoxFor(x => x.Date, new { @Value = @DateTime.Now.ToShortDateString() })*@     
        @*<input type="date" id="searchDate" name="searchDate" value="@DateTime.Now.ToString("yyyy/MM/dd")" />*@
    </div>
}
<p></p>
@if (Model != null)
{
    if (Model.AllRetailItem != null)
    {
        <table class="table" id="exportExcel">
            <tr>
                <th>店號</th>
                <th>店名</th>
                <th>總筆數</th>
                <th>日班筆數</th>
                <th>夜班筆數</th>
                @*<th>總未稅金額</th>*@
                <th>總交易金額</th>
                <th>幣別</th>
            </tr>
            @foreach (var item in Model.AllRetailItem)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItm => item.StoreNo)</td>
                    <td>@Html.DisplayFor(modelItm => item.StoreName)</td>                   
                    <td>@Html.DisplayFor(modelItm => item.OrderCount)</td>
                    <td>@Html.DisplayFor(modelItm => item.DayCount)</td>
                    <td>@Html.DisplayFor(modelItm => item.NightCount)</td>
                    @*<td>@Html.DisplayFor(modelItm => item.NonTaxTotal)</td>*@
                    <td>@Html.DisplayFor(modelItm => item.TotalRetail)</td>
                    <td>@Html.DisplayFor(modelItm => item.CurrencyID)</td>
                </tr>
            }
        </table>
    }
    else
    {
        <div id="exportExcel">
            <table class="table">
                
                    <tr>
                        <th>@MarketSite.App_GlobalResources.Resource.StoreNumName</th>
                        <td colspan="3">@ViewBag.storeIdName</td>
                        <th>@Html.DisplayNameFor(modelItm => Model.RetailItem.OrderCount)</th>
                        <td>@Html.DisplayFor(modelItm => Model.RetailItem.OrderCount)</td>
                        <th>@Html.DisplayNameFor(modelItm => Model.RetailItem.DayCount)</th>
                        <td>@Html.DisplayFor(modelItm => Model.RetailItem.DayCount)</td>
                        <th>@Html.DisplayNameFor(modelItm => Model.RetailItem.NightCount)</th>
                        <td>@Html.DisplayFor(modelItm => Model.RetailItem.NightCount)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(modelItm => Model.RetailItem.NonTaxTotal)</th>
                            <td colspan="3">@Html.DisplayFor(modelItm => Model.RetailItem.NonTaxTotal)</td>
                        <th colspan="2">@Html.DisplayNameFor(modelItm => Model.RetailItem.TotalRetail)</th>
                        <td colspan="4">@Html.DisplayFor(modelItm => Model.RetailItem.TotalRetail)</td>
                        @*<th>@Html.DisplayNameFor(modelItm => item.CurrencyID)</th>
                            <td>@Html.DisplayFor(modelItm => item.CurrencyID)</td>*@
                    </tr>
                
            </table>
            <table class="table">
                <tr>
                    @foreach (var item in Model.RetailCarry)
                    {
                        <th colspan="2">@Html.DisplayFor(modelItem => item.CarryType) (@MarketSite.App_GlobalResources.Resource.Money/@MarketSite.App_GlobalResources.Resource.Qty)</th>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarryMoney) /
                            @Html.DisplayFor(modelItem => item.CarryNum)
                        </td>
                    }
                </tr>
            </table>
            <table class="table">
                <tr>
                    <th>@MarketSite.App_GlobalResources.Resource.OrderNum</th>
                    <th>@MarketSite.App_GlobalResources.Resource.Subtotal</th>
                    <th>@MarketSite.App_GlobalResources.Resource.ServiceFee</th>
                    <th>@MarketSite.App_GlobalResources.Resource.Total</th>
                    <th>@MarketSite.App_GlobalResources.Resource.Currency</th>
                    <th>@MarketSite.App_GlobalResources.Resource.Orderer</th>
                    <th>@MarketSite.App_GlobalResources.Resource.OrderTime</th>
                    <th>@MarketSite.App_GlobalResources.Resource.CarryType</th>
                    <th></th>
                </tr>

                @foreach (var item in Model.RetailList)
                {
                    <tr>
                        <td style="vnd.ms-excel.numberformat:0;">
                            @Html.ActionLink(item.OrderNo, "Details", new { storeId = ViewBag.storeId, id = item.OrderNo })
                        </td>
                        <td style="text-align:right;">
                            @Html.DisplayFor(modelItem => item.SubPrice)
                        </td>
                        <td style="text-align:right;">
                            @Html.DisplayFor(modelItem => item.ServiceCharge)
                        </td>
                        <td style="text-align:right;">
                            @Html.DisplayFor(modelItem => item.TotalPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrencyID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderType)
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
}


